[submodule "src/qml/components/AppStoreKeys"]
	path = src/qml/components/AppStoreKeys
	url = https://artemfinland@bitbucket.org/artemfinland/wikipedia-for-sailfish-settings.git
[submodule "src/qml/components/Mixpanel"]
	path = src/qml/components/Mixpanel
	url = https://github.com/amarchen/Mixpanel-qml.git
