[submodule "src/components/AppStoreKeys"]
	path = src/components/AppStoreKeys
	url = https://artemfinland@bitbucket.org/artemfinland/wikipedia-for-sailfish-settings.git
[submodule "src/components/Mixpanel"]
	path = src/components/Mixpanel
	url = https://github.com/amarchen/Mixpanel.git
