[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Wikipedia
Comment=Sailfish Wikipedia
Exec=invoker --type=silica-qt5 -s /usr/bin/Wikipedia
Icon=/usr/share/icons/hicolor/90x90/apps/Wikipedia.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
